<%= form_with scope: @todo, url: todos_path do |f|%>
    <%= f.label "Add Your Pending Task", class: "label"%>
    <%= f.text_field :item, class: "input", placeholder: "Standup Meetings"%>
    <br>
    <%= f.submit "Add Task", class: "button is-danger is-fullwidth"%>
<% end %>
<%= react_component("CustomForm", { greeting: "Hello from react-rails.", todos: Todo.all().as_json}) %>
