<%= form_with scope: @todo, url: todos_path do |f|%>
    <%= f.label "Add Your Pending Task", class: "label"%>
    <%= f.text_field :item, class: "input", placeholder: "Standup Meetings"%>
    <br>
    <%= f.label "Options", class: "label"%>
    <%= f.fields :options do |c| %>
      <%= c.text_field :cascoxs, class: "input", placeholder: "option" %>
    <% end %>
    <br>
    <%= f.submit "Add Task", class: "button is-danger is-fullwidth"%>
<% end %>
